<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- VENDOR STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- CUSTOM STYLESHEET -->
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://code.jquery.com/jquery-2.2.3.js"
    integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="
    crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- CUSTOM SCRIPT -->
    <script src="scripts/app2.js"></script>

    <title>Project-01</title>
  </head>
  <body>
    <h1> Wardrobe </h1>
    <div id="clothes">
      <script id="clothes-template" type="text/x-handlebars-template">
        <div class="row clothing" data-clothing-id="\{{_id}}">
          <div class="col-md-3">
            <div class="text-center thumbnail">
              <img src="\{{picture}}"></img>
              <br>
              <p>\{{description}}</p>
              <hr>
              <p><button class='btn btn-danger delete-clothing'>Delete</button></p>
            </div>
          </div>
        </div>
      </script>
    </div>
  </body>
</html>
