<!DOCTYPE html>
<html>
<head>
  <!-- VENDOR STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
  <!-- CUSTOM STYLESHEET -->
  <link rel="stylesheet" href="styles/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script src="https://code.jquery.com/jquery-2.2.3.js"
  integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="
  crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <title>Log In</title>
</head>
  <body>
    <!-- login.hbs -->
    <div class="row">
      <div class="container" id=logincontainer>

        <form method="POST" action="/login">
          <div class="row column log-in-form">
            <h4 class="text-center">Log In</h4>
            <label>Username
              <input type="text" name="username" class="form-control username" placeholder="Username" autofocus>
            </label>
            <label>Password
              <input type="password" name="password" class="form-control password" placeholder="Password">
            </label>
            <p><input type="submit" class="btn btn-block btn-primary" value="Log In"></p>
            <p class="text-center"><a href="/signup">Not a user? Sign up!</a></p>
          </div>
        </form>

      </div>
    </div>
  </body>
</html>
