<!DOCTYPE html>
<html>
<head>
  <!-- VENDOR STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
  <!-- CUSTOM STYLESHEET -->
  <link rel="stylesheet" href="styles/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script src="https://code.jquery.com/jquery-2.2.3.js"
  integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="
  crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <title>Sign up!</title>
</head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1>wt<strong>2</strong>wr</h1>
        <p>finding the right fit just got easier</p>
      </div>
    </div>
<!-- signup.hbs -->
    <div class="row">
      <div class="container" id=signupcontainer>

        <form method="POST" action="/signup">
          <div class="row column sign-up-form">
            <h4 class="text-center">Sign Up</h4>
            <hr>
            <label>Username
              <input type="text" name="username" class="form-control username" placeholder="Username" autofocus>
            </label>
            <label>Password
              <input type="password" name="password" class="form-control password" placeholder="Password">
            </label>
            <p><input type="submit" class="btn btn-block btn-primary" id="sign-up-btn" value="Sign Up"></p>
            <p class="text-center"><a href="/login">Already a user? Log in!</a></p>
          </div>
        </form>

      </div>
    </div>
  </body>
</html>
