body {
  background-image: url(https://snap-photos.s3.amazonaws.com/img-thumbs/960w/D1B0FAEB46.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: white;
}

#wear {
  color: black;
}

.panel {
  border: 0;
  background-color: transparent;
}
.panel-footer {
  padding-top: 20px;
  background-color: transparent;
  border: 0;
  text-align: center;
}
#hats-carousel img {
  padding-top: 20px;
  width: auto;
  height: 90px;
  margin: 0 auto;
}

#tops-carousel img {
  padding-top: 20px;
  width: auto;
  height: 200px;
  margin: 0 auto;
}

#bottoms-carousel img {
  padding-top: 20px;
  width: auto;
  height: 200px;
  margin: 0 auto;
}

#shoes-carousel img {
  padding-top: 20px;
  width: auto;
  height: 95px;
  margin: 0 auto;
}

h4 {
  color: white;
  font-size: 30px;
  margin: 0 auto;
}

.seeAll {
  text-align: center;
  font-size: 16px;
}

.newClothesInput {
  width: 300px;
  font-size: 14px;
  padding-left: 5px;
}

.clothing {
  display:inline-block;
}

.thumbnail {
  width: 150px;
  height: auto;
}
