body {
  background-image: url("../images/wardrobe_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 100px;
  color: white;
}

#wear {
  color: black;
}

.panel {
  border: 0;
  background-color: transparent;
}
.panel-footer {
  padding-top: 20px;
  background-color: transparent;
  border: 0;
  text-align: center;
}
#hats-carousel img {
  padding-top: 20px;
  width: auto;
  height: 90px;
  margin: 0 auto;
}

#tops-carousel img {
  padding-top: 20px;
  width: auto;
  height: 200px;
  margin: 0 auto;
}

#bottoms-carousel img {
  padding-top: 20px;
  width: auto;
  height: 200px;
  margin: 0 auto;
}

#shoes-carousel img {
  padding-top: 20px;
  width: auto;
  height: 95px;
  margin: 0 auto;
}

#clothes h4 {
  font-family: 'Anton', sans-serif;
  color: white;
  font-size: 30px;
  margin: 0 auto;
}

.newClothesInput {
  width: 300px;
  font-size: 14px;
  padding-left: 5px;
}

.clothing {
  display:inline-block;
}

.thumbnail {
  width: 200px;
  height: auto;
}

/*Log In Styling Starts Here*/
.log-in-form {
  color: white;
  border: 1px solid white;
  border-radius: 3px;
}

#logincontainer {
  position: absolute;
  margin-top: 20%;
  text-align: center;
}

.sign-up-form {
  color: white;
  border: 1px solid white;
  border-radius: 3px;
}

#signupcontainer {
  position: absolute;
  margin-top: 20%;
  text-align: center;
}
