body {
  background-image: url("../images/wardrobe_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.navbar {
  background-color: transparent;
  border: 0;
}

h1 {
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 100px;
  color: white;
  text-shadow: 0px 0px 50px #FBE402;
}

h2 {
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 70px;
  color: white;
}
.page-header p {
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 20px;
  color: #FBE402;
}
}

#logout-btn {
  position: absolute;
  top: 2%;
  right: 2%;
}
#wardrobe-btn {
  background-color: #6A1292;
  position: absolute;
  top: 70%;
  right: 10%;
  border: 0;
}

#createClothes {
  position:absolute;
  top: 70%;
  left: 10%;
}

.panel {
  border: 0;
  background-color: transparent;
}

.panel-footer {
  padding-top: 20px;
  background-color: transparent;
  border: 0;
  text-align: center;
}

#hats-carousel img {
  padding-top: 20px;
  width: auto;
  height: 95px;
  margin: 0 auto;
}

#tops-carousel img {
  padding-top: 20px;
  width: auto;
  height: 200px;
  margin: 0 auto;
}

#bottoms-carousel img {
  padding-top: 20px;
  width: auto;
  height: 200px;
  margin: 0 auto;
}

#shoes-carousel img {
  padding-top: 20px;
  width: auto;
  height: 100px;
  margin: 0 auto;
}

#clothes h4 {
  font-family: 'Anton', sans-serif;
  color: white;
  font-size: 30px;
  margin: 0 auto;
}

.newClothesInput {
  width: 300px;
  font-size: 14px;
  padding-left: 5px;
}

#group-container {
  text-align: center;
}

.clothing {
  display:inline-block;
}

.thumbnail {
  width: 200px;
  height: auto;
}

.thumbnail img {
  min-height: 125px;
  max-height: 125px;
}

/*Log In Styling Starts Here*/
.log-in-form {
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 3px;
}

.log-in-form h4 {
  font-size: 30px
}

#logincontainer {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.sign-up-form {
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 3px;
}

.sign-up-form h4 {
  font-size: 30px
}

#signupcontainer {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
